In [12]:
INPUT_PATH <- "/home/aga/Desktop/ST-Assign-repo/test-example/data/"
OUTPUT_PATH <- "/home/aga/Desktop/ST-Assign-repo/test-example/results/"

## ST-Assign's expected input

1. Spatial transcriptomics (ST) gene expression data  `C_gs.csv`.
2. Single-cell RNA-seq data (scRNA-seq) gene expression data `C_gs.csv`.
3. Matrix $B$ - binary matrix representing pror knowlegde about marker genes `matB.csv`.
4. Cell counts in ST spots estimated from H&E images `n_cells.csv`.

#### 1. Spatial transcriptomics (ST) gene expression data (`C_gs.csv`)

**Dimensions:** number of genes vs. number of spots \
Each row corresponds to a gene, and each column corresponds to a ST spot.

In [13]:
ST <- read.csv(paste0(INPUT_PATH, "C_gs.csv"), row.names=1)
ST[1:5,1:5]

       X102x50 X79x35 X67x45 X62x24 X94x44
Slc1a3  2       7     10     10     5
Gja1    2       0      3      3     2
Atp1a2 11      14      8     18     7
Atp1b2  5       4      2      9     3
Bcan    5       3      6      4     3

#### 2. Single-cell RNA-seq data (scRNA-seq) gene expression data `C_gs.csv`

**Dimensions:** number of genes vs. number of cells \
Each row corresponds to a gene, and each column corresponds to a cell.

In [14]:
SC <- read.csv(paste0(INPUT_PATH, "C_gc.csv"), row.names=1)
SC[1:5,1:5]

       X10X55_4_AGATGGTTGGACCC. X10X55_2_ATTGCCAGACGTAG.
Slc1a3 0                        0
Gja1   0                        0
Atp1a2 0                        0
Atp1b2 0                        0
Bcan   0                        0
       X10X33_1_CATCTTGATCGCCT.1 X10X55_3_ACATCCAGCTTAAC.
Slc1a3 0                         0
Gja1   0                         0
Atp1a2 0                         1
Atp1b2 0                         1
Bcan   0                         0
       X10X54_4_AACGTAGAGTGACC.
Slc1a3 1
Gja1   0
Atp1a2 2
Atp1b2 0
Bcan   0

<span style="color:red">**Ensure genes (rows) in `C_gc.csv` and `C_gs.csv` are arranged in the same order.**</span>

In [15]:
all(rownames(SC)==rownames(ST))

[1] TRUE

#### 3. Matrix $B$ - binary matrix representing pror knowlegde about marker genes `matB.csv`.
**Dimensions:** number of genes vs. number of cell types \
Each row corresponds to a gene, and each column corresponds to a cell type.

In [16]:
matB <- read.csv(paste0(INPUT_PATH, "matB.csv"), row.names=1)
head(matB)

       ASC CPC GABA GLUT MG OLG DT
Slc1a3 1   0   0    0    0  0   0
Gja1   1   0   0    0    0  0   0
Atp1a2 1   0   0    0    0  0   0
Atp1b2 1   0   0    0    0  0   0
Bcan   1   0   0    0    0  0   0
Apoe   1   0   0    0    0  0   0

<span style="color:red">**Ensure genes (rows)  in `matB.csv` are in the same order as in genes (rows) in `C_gs.csv` and `C_gc.csv`.**</span>

In [17]:
all(rownames(SC)==rownames(matB))

[1] TRUE

In [18]:
all(rownames(ST)==rownames(matB))

[1] TRUE

#### 4. Estimated Cell Counts in Spatial Transcriptomics (ST) Spots (`n_cells.csv`)

The `n_cells.csv` data frame consists of two columns: 
1. `spotId`: ST spots coordinates.
2. Corresponding cell counts estimated from H&E images.

Generated by the software available at [szczurek-lab/qupath-spot-utils](https://github.com/szczurek-lab/qupath-spot-utils)

In [19]:
n_cells <- read.csv(paste0(INPUT_PATH, "n_cells.csv"), row.names=1)
head(n_cells)

   spotId  cellCount
1  X102x50 12
12 X79x35  13
17 X67x45  16
22 X62x24  10
24 X94x44  12
25 X96x42  13

<span style="color:red">**Ensure spots (rows)  in `n_cells.csv` are in the same order as in genes (columns) in `C_gs.csv`.**</span>

In [11]:
all(n_cells$spotId == colnames(ST))

[1] TRUE

## ST-Assign's output

1. `est_M.csv` estimates for the number of cells of each considered cell type in each ST spot.
2. `res_TC.csv` results of cell type annotation in scRNA-seq data.

#### 1. Estimating number of cell of each cell type in each spot
**Dimensions:** number of spots vs. number of cell types. \
`est_M.csv` data frame presents estimates for the number of cells of each considered cell type ($M_{st}$), averaged over trajectories (without the burn-in period).

In [22]:
est_M <- read.csv(paste0(OUTPUT_PATH, "est_M.csv"), header=FALSE)

In [23]:
dim(est_M)

[1] 893   7

In [25]:
head(est_M)

  V1       V2 V3         V4        V5       V6       V7
1 4.168168 0   0.2152152  1.654655 2.157157 5.885886 0.76876880
2 3.814815 2  11.8148150  2.000000 4.000000 3.000000 0.00000000
3 6.000000 0  11.0000000  2.000000 6.000000 3.000000 0.00000000
4 5.087087 0   1.0000000 11.000000 5.912913 1.000000 0.08708709
5 3.340340 0   3.6596596  1.000000 2.172172 4.000000 2.02102110
6 5.517518 1   5.0000000  1.000000 4.000000 5.325325 0.00000000

#### 2. Single cell annotation in scRNA-seq data

**Dimensions:** 1 in 100 iterations vs. number of cells\
`res_TC.csv` data frame represents the outcomes of cell type annotation ($T_c$) from every 1 in 100 iterations.

In [23]:
res_TC <- read.csv(paste0(OUTPUT_PATH, "res_TC.csv"), header=FALSE)

In [24]:
dim(res_TC)

[1]   50 5450

In [27]:
res_TC[1:5,1:5]

  V1 V2 V3 V4 V5
1 2  2  2  2  2
2 7  7  7  7  7
3 7  2  2  7  7
4 2  2  2  2  2
5 2  2  2  2  2

**To derive the final results, one approach is to compute the maximum value from each trajectory after the burn-in period for every cell.**

In [29]:
most_frequent_element <- function(wektor) wektor[which.max(table(wektor))]
final_result <- apply(res_TC[40:nrow(res_TC),], 2, most_frequent_element)
head(final_result)

V1 V2 V3 V4 V5 V6
 2  2  2  2  2  7